In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("201901-202003.csv")

In [3]:
data.columns = ['년월','사용지_시도','사용지_시군구','업종명','거주지_시도','거주지_시군구','연령대','성별','생애주기','고객수','금액','건수']

In [4]:
data_jb=data[(data['사용지_시도']=="전북")]
data_jn=data[(data['사용지_시도']=="전남")]

In [5]:
data_2 = data_jb.append(data_jn)

In [6]:
data_2

,년월,사용지_시도,사용지_시군구,업종명,거주지_시도,거주지_시군구,연령대,성별,생애주기,고객수,금액,건수
1402625,201901,전북,고창군,건강보조식품 소매업,전북,고창군,50s,1,4,3,1124500,3
1402626,201901,전북,고창군,건강보조식품 소매업,전북,고창군,50s,2,4,6,674850,5
1402627,201901,전북,고창군,건강보조식품 소매업,전북,고창군,60s,2,5,3,748335,2
1402628,201901,전북,고창군,골프장 운영업,광주,광산구,40s,1,3,15,1321500,17
1402629,201901,전북,고창군,골프장 운영업,광주,광산구,40s,1,4,3,274500,4
...,...,...,...,...,...,...,...,...,...,...,...,...
24538838,202003,전남,화순군,화장품 및 방향제 소매업,전남,화순군,60s,1,5,7,366900,7
24538839,202003,전남,화순군,화장품 및 방향제 소매업,전남,화순군,60s,2,5,23,1180200,27
24538840,202003,전남,화순군,화장품 및 방향제 소매업,전남,화순군,70s,2,5,12,530300,12
24538841,202003,전남,화순군,휴양콘도 운영업,광주,북구,30s,1,2,5,70780,8
24538842,202003,전남,화순군,휴양콘도 운영업,광주,북구,40s,1,3,3,56400,8

In [7]:
data_h = data_2[(data_2["년월"] == 201901) | (data_2["년월"] == 201902)|(data_2["년월"] == 201903)|(data_2["년월"] == 202001)
               |(data_2["년월"] == 202002)|(data_2["년월"] == 202003)]
data_h

,년월,사용지_시도,사용지_시군구,업종명,거주지_시도,거주지_시군구,연령대,성별,생애주기,고객수,금액,건수
1402625,201901,전북,고창군,건강보조식품 소매업,전북,고창군,50s,1,4,3,1124500,3
1402626,201901,전북,고창군,건강보조식품 소매업,전북,고창군,50s,2,4,6,674850,5
1402627,201901,전북,고창군,건강보조식품 소매업,전북,고창군,60s,2,5,3,748335,2
1402628,201901,전북,고창군,골프장 운영업,광주,광산구,40s,1,3,15,1321500,17
1402629,201901,전북,고창군,골프장 운영업,광주,광산구,40s,1,4,3,274500,4
...,...,...,...,...,...,...,...,...,...,...,...,...
24538838,202003,전남,화순군,화장품 및 방향제 소매업,전남,화순군,60s,1,5,7,366900,7
24538839,202003,전남,화순군,화장품 및 방향제 소매업,전남,화순군,60s,2,5,23,1180200,27
24538840,202003,전남,화순군,화장품 및 방향제 소매업,전남,화순군,70s,2,5,12,530300,12
24538841,202003,전남,화순군,휴양콘도 운영업,광주,북구,30s,1,2,5,70780,8
24538842,202003,전남,화순군,휴양콘도 운영업,광주,북구,40s,1,3,3,56400,8

In [8]:
data_h1 = data_h.drop(["사용지_시군구","거주지_시도","거주지_시군구"], axis = 1, inplace = False)
data_h1

              년월 사용지_시도            업종명  연령대  성별  생애주기  고객수       금액  건수
1402625   201901     전북     건강보조식품 소매업  50s   1     4    3  1124500   3
1402626   201901     전북     건강보조식품 소매업  50s   2     4    6   674850   5
1402627   201901     전북     건강보조식품 소매업  60s   2     5    3   748335   2
1402628   201901     전북        골프장 운영업  40s   1     3   15  1321500  17
1402629   201901     전북        골프장 운영업  40s   1     4    3   274500   4
...          ...    ...            ...  ...  ..   ...  ...      ...  ..
24538838  202003     전남  화장품 및 방향제 소매업  60s   1     5    7   366900   7
24538839  202003     전남  화장품 및 방향제 소매업  60s   2     5   23  1180200  27
24538840  202003     전남  화장품 및 방향제 소매업  70s   2     5   12   530300  12
24538841  202003     전남       휴양콘도 운영업  30s   1     2    5    70780   8
24538842  202003     전남       휴양콘도 운영업  40s   1     3    3    56400   8

[603553 rows x 9 columns]

In [9]:
data_t1 = data_h1.replace({"일식 음식점업":"일반 음식점업","한식 음식점업":"일반 음식점업","중식 음식점업":"일반 음식점업","일반유흥 주점업":"일반 음식점업",
                            "슈퍼마켓":"편의점","체인화 편의점":"편의점",
                            "호텔업":"관광업","여행사업":"관광업","정기 항공 운송업":"관광업",
                           "버스 운송업":"대중교통", "비알콜 음료점업":"카페"})

In [10]:
data_123_j = data_t1[((data_t1['업종명'] == '일반 음식점업') | (data_t1['업종명'] == "전시 및 행사 대행업")
                  |(data_t1["업종명"] == '관광업') | (data_t1["업종명"] == "카페")| (data_t1["업종명"] == "스포츠 및 레크레이션 용품 임대업"))]
data_123_j.head()

             년월 사용지_시도 업종명  연령대  성별  생애주기  고객수     금액  건수
1402924  201901     전북  카페  40s   2     3    3  13800   3
1402925  201901     전북  카페  40s   1     3    3  14300   3
1402926  201901     전북  카페  40s   1     3    3  17490   3
1402927  201901     전북  카페  40s   1     3    5  34900   5
1402928  201901     전북  카페  50s   1     4    3  13300   3

In [11]:
data_123_j.to_csv('1,2,3월_전북전남.csv', encoding="euc-kr")