In [83]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt

In [84]:
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [85]:
df_d = pd.read_csv('1,2,3월_2.csv')
df_j = pd.read_csv('1,2,3월_전북전남.csv')

In [86]:
df_d["연령대"] = df_d["연령대"].str.rstrip("s").astype("int")
df_j['연령대'] = df_j['연령대'].str.rstrip('s').astype('int')

In [87]:
df_d['사용지_시도']='대구경북'
df_d.head()

   Unnamed: 0      년월 업종명  연령대  성별  생애주기  고객수     금액  건수 사용지_시도
0      598167  201901  카페   20   2     1    3  24890   3   대구경북
1      598168  201901  카페   20   2     1    3  17800   3   대구경북
2      598169  201901  카페   30   2     2    3  28500   4   대구경북
3      598170  201901  카페   20   1     1    3  27900   4   대구경북
4      598171  201901  카페   40   1     3    3  20600   3   대구경북

In [88]:
df_j=df_j.replace({'전남':'전북전남',"전북" : "전북전남"})

In [89]:
df_d["Log10_금액"] = np.log10(df_d["금액"])
df_j["Log10_금액"] = np.log10(df_j["금액"])

# 대구 경북과 전북 전남

# 2020 2-3 데이터 사용

# Log10_금액 평균차이

In [90]:

d_2002 = df_d['년월']==202002
d_2003 = df_d['년월']==202003

j_2002 = df_j['년월']==202002
j_2003 = df_j['년월']==202003

In [91]:
df_d_sub = df_d[d_2002|d_2003]
df_j_sub = df_j[j_2002|j_2003]

In [92]:
df_d_1=df_d_sub['Log10_금액']
df_j_1=df_j_sub['Log10_금액']

df_d_1=np.array(df_d_1)
df_j_1=np.array(df_j_1)

In [93]:
np.mean(df_d_1)

5.44091160664575

In [94]:
np.mean(df_j_1)

5.415945102069737

In [95]:
stats.levene(df_d_1, df_j_1)

LeveneResult(statistic=154.23691745054194, pvalue=2.1785686967689036e-35)

### p-value < 0.05 이므로 귀무가설 기각 => 등분산 아님 => equal_val=False 사용

In [96]:
stats.ttest_ind(df_d_1, df_j_1, equal_var=False)

Ttest_indResult(statistic=5.203733385502394, pvalue=1.9569515588010398e-07)

### p-value<0.05 이므로 귀무가설 기각 => 대구경북, 전북전남의 Log10_금액의 평균의 차이가 있다

# 연령대 평균 차이

In [97]:
df_d_2=df_d_sub['연령대']
df_j_2=df_j_sub['연령대']

df_d_2=np.array(df_d_2)
df_j_2=np.array(df_j_2)

In [98]:
np.mean(df_d_2)

38.29220175654912

In [99]:
np.mean(df_j_2)

39.14526390197926

In [100]:
stats.levene(df_d_2, df_j_2)

LeveneResult(statistic=83.55895396354751, pvalue=6.291891073304326e-20)

### p-value < 0.05 이므로 귀무가설 기각 => 등분산 아님 => equal_val=False 사용

In [101]:
stats.ttest_ind(df_d_2, df_j_2, equal_var=False)

Ttest_indResult(statistic=-9.661610521533436, pvalue=4.48426735989618e-22)

### p-value<0.05 이므로 귀무가설 기각 => 대구경북, 전북전남의 Log10_금액의 평균의 차이가 있다

# 건수 평균차이

In [102]:
df_d_3=df_d_sub['건수']
df_j_3=df_j_sub['건수']

df_d_3=np.array(df_d_3)
df_j_3=np.array(df_j_3)

In [103]:
np.mean(df_d_3)

100.75448147656354

In [104]:
np.mean(df_j_3)

76.90688815582783

In [105]:
stats.levene(df_d_3, df_j_3)

LeveneResult(statistic=44.96248954153801, pvalue=2.0186997890362973e-11)

### p-value < 0.05 이므로 귀무가설 기각 => 등분산 아님 => equal_val=False 사용

In [106]:
stats.ttest_ind(df_d_3, df_j_3, equal_var=False)

Ttest_indResult(statistic=6.901587675138352, pvalue=5.172244016760297e-12)

### p-value<0.05 이므로 귀무가설 기각 => 대구경북, 전북전남의 Log10_금액의 평균의 차이가 있다

# 고객 수 평균 차이

In [107]:
df_d_4=df_d_sub['고객수']
df_j_4=df_j_sub['고객수']

df_d_4=np.array(df_d_4)
df_j_4=np.array(df_j_4)

In [108]:
np.mean(df_d_4)

70.82749397727488

In [109]:
np.mean(df_j_4)

52.714027646874015

In [110]:
stats.levene(df_d_4, df_j_4)

LeveneResult(statistic=61.016173106561574, pvalue=5.713498714675285e-15)

### p-value < 0.05 이므로 귀무가설 기각 => 등분산 아님 => equal_val=False 사용

In [111]:
stats.ttest_ind(df_d_4, df_j_4, equal_var=False)

Ttest_indResult(statistic=7.999690110168956, pvalue=1.2603964645091593e-15)

### p-value<0.05 이므로 귀무가설 기각 => 대구경북, 전북전남의 Log10_금액의 평균의 차이가 있다

# 대구경북 지역의 5개 제외 업종 데이터 고르기

In [112]:
data = pd.read_csv("201901-202003.csv")
data.head()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3

In [113]:
data.columns = ['년월','사용지_시도','사용지_시군구','업종명','거주지_시도','거주지_시군구','연령대','성별','생애주기','고객수','금액','건수']

In [114]:
data_dg = data[(data['사용지_시도'] == "대구")]
data_gb = data[(data['사용지_시도'] == "경북")]
data_1 = data_dg.append(data_gb)

In [115]:
data_m = data_1[(data_1["년월"] == 202002)|(data_1["년월"] == 202003)]

In [116]:
data_m1 = data_m.drop(["사용지_시도","사용지_시군구","거주지_시도","거주지_시군구"], axis = 1, inplace = False)

In [117]:
data_s1 = data_m1.replace({"일식 음식점업":"일반 음식점업","한식 음식점업":"일반 음식점업","중식 음식점업":"일반 음식점업","일반유흥 주점업":"일반 음식점업",
                            "슈퍼마켓":"편의점","체인화 편의점":"편의점",
                            "호텔업":"관광업","여행사업":"관광업","정기 항공 운송업":"관광업",
                           "버스 운송업":"대중교통", "비알콜 음료점업":"카페"})

In [118]:
data_123_n = data_s1[((data_s1['업종명'] != '일반 음식점업') ) | (data_s1['업종명'] != "전시 및 행사 대행업")
                  |(data_s1["업종명"] != '관광업') | (data_s1["업종명"] != "카페")| (data_s1["업종명"] != "스포츠 및 레크레이션 용품 임대업")]

In [119]:
data_123_n["연령대"] = data_123_n["연령대"].str.rstrip("s").astype("int")

In [120]:
data_123_n.head()

              년월         업종명  연령대  성별  생애주기  고객수      금액  건수
22601969  202002  건강보조식품 소매업   60   2     5    3  426000   4
22601970  202002  건강보조식품 소매업   20   2     1    5  343400   5
22601971  202002  건강보조식품 소매업   40   1     3    5  159000   5
22601972  202002  건강보조식품 소매업   40   1     4    4  165000   4
22601973  202002  건강보조식품 소매업   40   2     3    5  967380   4

In [121]:
data_123_n["Log10_금액"] = np.log10(data_123_n["금액"])
data_123_n

              년월            업종명  연령대  성별  생애주기  고객수       금액  건수  Log10_금액
22601969  202002     건강보조식품 소매업   60   2     5    3   426000   4  5.629410
22601970  202002     건강보조식품 소매업   20   2     1    5   343400   5  5.535800
22601971  202002     건강보조식품 소매업   40   1     3    5   159000   5  5.201397
22601972  202002     건강보조식품 소매업   40   1     4    4   165000   4  5.217484
22601973  202002     건강보조식품 소매업   40   2     3    5   967380   4  5.985597
...          ...            ...  ...  ..   ...  ...      ...  ..       ...
23899480  202003  화장품 및 방향제 소매업   70   1     5   47  2232800  49  6.348850
23899481  202003  화장품 및 방향제 소매업   70   2     5   49  3425290  54  6.534697
23899482  202003  화장품 및 방향제 소매업   20   2     1    4    43800   5  4.641474
23899483  202003  화장품 및 방향제 소매업   20   2     1    7   160280  15  5.204879
23899484  202003  화장품 및 방향제 소매업   20   2     1    3    15800   3  4.198657

[181231 rows x 9 columns]

# 대구 경북의 5개 업종/ 5개 제외 업종 평균 차이

# Log10_금액 평균 차이

In [122]:
df_d_1=df_d_sub['Log10_금액']
data_123_n_1=data_123_n['Log10_금액']

df_d_1=np.array(df_d_1)
data_123_n_1=np.array(data_123_n_1)

In [123]:
np.mean(df_d_1)

5.44091160664575

In [124]:
np.mean(data_123_n_1)

5.545876788640926

In [125]:
stats.levene(df_d_1, data_123_n_1)

LeveneResult(statistic=0.1361703180793008, pvalue=0.7121186477236178)

### p-value > 0.05 이므로 귀무가설 채택 => 등분산 => equal_val=True 사용

In [126]:
stats.ttest_ind(df_d_1, data_123_n_1, equal_var=True)

Ttest_indResult(statistic=-26.734474590004226, pvalue=3.2315648405695034e-157)

### p-value<0.05 이므로 귀무가설 기각 => 5개업종 / 5개 제외 업종 간 Log10_금액의 평균의 차이가 있다

# 연령대

In [127]:
df_d_2=df_d_sub['연령대']
data_123_n_2=data_123_n['연령대']

df_d_2=np.array(df_d_2)
data_123_n_2=np.array(data_123_n_2)

In [128]:
np.mean(df_d_2)

38.29220175654912

In [129]:
np.mean(data_123_n_2)

38.74657205444984

In [130]:
stats.levene(df_d_2, data_123_n_2)

LeveneResult(statistic=0.6395859069987139, pvalue=0.4238615979819865)

### p-value > 0.05 이므로 귀무가설 채택 => 등분산 => equal_val=True 사용

In [131]:
stats.ttest_ind(df_d_2, data_123_n_2, equal_var=True)

Ttest_indResult(statistic=-6.315332746509277, pvalue=2.70062160879028e-10)

### p-value<0.05 이므로 귀무가설 기각 => 5개업종 / 5개 제외 업종 간 Log10_금액의 평균의 차이가 있다

# 건수

In [132]:
df_d_3=df_d_sub['건수']
data_123_n_3=data_123_n['건수']

df_d_3=np.array(df_d_3)
data_123_n_3=np.array(data_123_n_3)

In [133]:
np.mean(df_d_3)

100.75448147656354

In [134]:
np.mean(data_123_n_3)

164.7526140671298

In [135]:
stats.levene(df_d_3, data_123_n_3)

LeveneResult(statistic=135.00980896009813, pvalue=3.350978188450567e-31)

### p-value < 0.05 이므로 귀무가설 기각 => 등분산 아님 => equal_val=False 사용

In [136]:
stats.ttest_ind(df_d_3, data_123_n_3, equal_var=False)

Ttest_indResult(statistic=-16.597894418180232, pvalue=8.02795461383177e-62)

### p-value<0.05 이므로 귀무가설 기각 => 5개업종 / 5개 제외 업종 간 Log10_금액의 평균의 차이가 있다

# 고객수

In [137]:
df_d_4=df_d_sub['고객수']
data_123_n_4=data_123_n['고객수']

df_d_4=np.array(df_d_4)
data_123_n_4=np.array(data_123_n_4)

In [138]:
np.mean(df_d_4)

70.82749397727488

In [139]:
np.mean(data_123_n_4)

80.86746748624684

In [140]:
stats.levene(df_d_4, data_123_n_4)

LeveneResult(statistic=21.502374092249394, pvalue=3.535814960681159e-06)

### p-value < 0.05 이므로 귀무가설 기각 => 등분산 아님 => equal_val=False 사용

In [141]:
stats.ttest_ind(df_d_3, data_123_n_3, equal_var=False)

Ttest_indResult(statistic=-16.597894418180232, pvalue=8.02795461383177e-62)

### p-value<0.05 이므로 귀무가설 기각 => 5개업종 / 5개 제외 업종 간 Log10_금액의 평균의 차이가 있다