In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt

In [27]:
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [28]:
df_d = pd.read_csv('1,2,3월_2.csv')
df_j = pd.read_csv('1,2,3월_전북전남.csv')

In [29]:
df_d["연령대"] = df_d["연령대"].str.rstrip("s").astype("int")
df_j['연령대'] = df_j['연령대'].str.rstrip('s').astype('int')

In [30]:
df_d['사용지_시도']='대구경북'
df_d.head()

   Unnamed: 0      년월 업종명  연령대  성별  생애주기  고객수     금액  건수 사용지_시도
0      598167  201901  카페   20   2     1    3  24890   3   대구경북
1      598168  201901  카페   20   2     1    3  17800   3   대구경북
2      598169  201901  카페   30   2     2    3  28500   4   대구경북
3      598170  201901  카페   20   1     1    3  27900   4   대구경북
4      598171  201901  카페   40   1     3    3  20600   3   대구경북

In [31]:
df_j=df_j.replace({'전남':'전북전남',"전북" : "전북전남"})

In [32]:
df_d["Log10_금액"] = np.log10(df_d["금액"])
df_j["Log10_금액"] = np.log10(df_j["금액"])

In [33]:
df_d

,Unnamed: 0,년월,업종명,연령대,성별,생애주기,고객수,금액,건수,사용지_시도,Log10_금액
0,598167,201901,카페,20,2,1,3,24890,3,대구경북,4.396025
1,598168,201901,카페,20,2,1,3,17800,3,대구경북,4.250420
2,598169,201901,카페,30,2,2,3,28500,4,대구경북,4.454845
3,598170,201901,카페,20,1,1,3,27900,4,대구경북,4.445604
4,598171,201901,카페,40,1,3,3,20600,3,대구경북,4.313867
...,...,...,...,...,...,...,...,...,...,...,...
224535,23899428,202003,일반 음식점업,20,1,1,8,904800,16,대구경북,5.956553
224536,23899429,202003,일반 음식점업,30,1,1,3,331800,4,대구경북,5.520876
224537,23899430,202003,일반 음식점업,30,1,2,7,1153000,28,대구경북,6.061829
224538,23899431,202003,일반 음식점업,40,1,3,3,73000,3,대구경북,4.863323
224539,23899432,202003,일반 음식점업,30,1,2,4,321000,5,대구경북,5.506505

In [34]:
df_j

,Unnamed: 0,년월,사용지_시도,업종명,연령대,성별,생애주기,고객수,금액,건수,Log10_금액
0,1402924,201901,전북전남,카페,40,2,3,3,13800,3,4.139879
1,1402925,201901,전북전남,카페,40,1,3,3,14300,3,4.155336
2,1402926,201901,전북전남,카페,40,1,3,3,17490,3,4.242790
3,1402927,201901,전북전남,카페,40,1,3,5,34900,5,4.542825
4,1402928,201901,전북전남,카페,50,1,4,3,13300,3,4.123852
...,...,...,...,...,...,...,...,...,...,...,...
186755,24538819,202003,전북전남,일반 음식점업,60,2,5,242,10799645,312,7.033409
186756,24538820,202003,전북전남,일반 음식점업,70,1,5,176,8602400,294,6.934620
186757,24538821,202003,전북전남,일반 음식점업,70,2,5,39,1431000,46,6.155640
186758,24538822,202003,전북전남,일반 음식점업,50,1,4,4,75900,7,4.880242
186759,24538823,202003,전북전남,일반 음식점업,60,1,5,4,195500,5,5.291147

In [37]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224540 entries, 0 to 224539
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  224540 non-null  int64
 1   년월          224540 non-null  int64
 2   업종명         224540 non-null  object
 3   연령대         224540 non-null  int32
 4   성별          224540 non-null  int64
 5   생애주기        224540 non-null  int64
 6   고객수         224540 non-null  int64
 7   금액          224540 non-null  int64
 8   건수          224540 non-null  int64
 9   사용지_시도      224540 non-null  object
 10  Log10_금액    224540 non-null  float64
dtypes: float64(1), int32(1), int64(7), object(2)
memory usage: 18.0+ MB

# 대구경북과 전북전남

# 2020 1-3 데이터 사용

# Log10_금액의 평균차이

In [35]:
d_2001 = df_d['년월']==202001
d_2002 = df_d['년월']==202002
d_2003 = df_d['년월']==202003

j_2001 = df_j['년월']==202001
j_2002 = df_j['년월']==202002
j_2003 = df_j['년월']==202003

In [42]:
df_d_sub = df_d[d_2001|d_2002|d_2003]
df_j_sub = df_j[j_2001|j_2002|j_2003]

In [43]:
df_d_1=df_d_sub['Log10_금액']
df_j_1=df_j_sub['Log10_금액']

df_d_1=np.array(df_d_1)
df_j_1=np.array(df_j_1)

In [44]:
np.mean(df_d_1)

5.428241890777388

In [45]:
np.mean(df_j_1)

5.4032801885319355

In [46]:
stats.levene(df_d_1, df_j_1)

LeveneResult(statistic=150.9211443838963, pvalue=1.1254109846122882e-34)

### p-value < 0.05 이므로 귀무가설 기각 => 등분산 아님 => equal_val=False 사용

In [47]:
stats.ttest_ind(df_d_1, df_j_1, equal_var=False)

Ttest_indResult(statistic=7.004769730976763, pvalue=2.482447308634678e-12)

### p-value<0.05 이므로 귀무가설 기각 => 대구경북, 전북전남의 Log10_금액의 평균의 차이가 있다

# 연령대 평균차이

In [48]:
df_d_2=df_d_sub['연령대']
df_j_2=df_j_sub['연령대']

df_d_2=np.array(df_d_2)
df_j_2=np.array(df_j_2)

In [49]:
np.mean(df_d_2)

38.22710152725467

In [50]:
np.mean(df_j_2)

39.1627470515999

In [51]:
stats.levene(df_d_2, df_j_2)

LeveneResult(statistic=170.1427628925703, pvalue=7.167294430333877e-39)

### p-value<0.05 이므로 귀무가설 기각 => 등분산 아님 => equal_val=False 사용

In [52]:
stats.ttest_ind(df_d_2, df_j_2, equal_var=False)

Ttest_indResult(statistic=-14.211804361152684, pvalue=8.191265285210593e-46)

### p-value<0.05이므로 귀무가설 기각 => 대구경북, 전북 전남의 연령대의 평균의 차이가 있다

# 건수 평균차이

In [53]:
df_d_3=df_d_sub['건수']
df_j_3=df_j_sub['건수']

df_d_3=np.array(df_d_3)
df_j_3=np.array(df_j_3)

In [54]:
np.mean(df_d_3)

97.43044575969537

In [55]:
np.mean(df_j_3)

71.3684167844482

In [56]:
stats.levene(df_d_3, df_j_3)

LeveneResult(statistic=91.36655511386431, pvalue=1.2077620046724077e-21)

### p-value<0.05 이므로 귀무가설 기각 => 등분산 아님 => equal_val=Flase 사용

In [57]:
stats.ttest_ind(df_d_3, df_j_3, equal_var=False)

Ttest_indResult(statistic=9.904628759251745, pvalue=4.028829094963883e-23)

### p-value<0.05이므로 귀무가설 기각 => 대구경북, 전북 전남의 연령대의 평균의 차이가 있다

# 고객 수 평균 차이

In [58]:
df_d_4=df_d_sub['고객수']
df_j_4=df_j_sub['고객수']

df_d_4=np.array(df_d_4)
df_j_4=np.array(df_j_4)

In [59]:
np.mean(df_d_4)

68.56135921526428

In [60]:
np.mean(df_j_4)

49.292418730739826

In [61]:
stats.levene(df_d_4, df_j_4)

LeveneResult(statistic=117.43688377832515, pvalue=2.3476832295502372e-27)

### p-value<0.05 이므로 귀무가설 기각 => 등분산 아님 => equal_val=False 사용

In [62]:
stats.ttest_ind(df_d_4, df_j_4, equal_var=False)

Ttest_indResult(statistic=11.19367449990542, pvalue=4.477423886785405e-29)

### p-value<0.05이므로 귀무가설 기각 => 대구경북, 전북 전남의 연령대의 평균의 차이가 있다

## 대구경북 지역의 5개 제외 업종 데이터 고르기

In [63]:
data = pd.read_csv("201901-202003.csv")

In [64]:
data.head()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3

In [65]:
data.columns = ['년월','사용지_시도','사용지_시군구','업종명','거주지_시도','거주지_시군구','연령대','성별','생애주기','고객수','금액','건수']

In [66]:
data_dg = data[(data['사용지_시도'] == "대구")]
data_gb = data[(data['사용지_시도'] == "경북")]
data_1 = data_dg.append(data_gb)

In [67]:
data_m = data_1[(data_1["년월"] == 202001)
               |(data_1["년월"] == 202002)|(data_1["년월"] == 202003)]

In [68]:
data_m1 = data_m.drop(["사용지_시도","사용지_시군구","거주지_시도","거주지_시군구"], axis = 1, inplace = False)

In [69]:
data_s1 = data_m1.replace({"일식 음식점업":"일반 음식점업","한식 음식점업":"일반 음식점업","중식 음식점업":"일반 음식점업","일반유흥 주점업":"일반 음식점업",
                            "슈퍼마켓":"편의점","체인화 편의점":"편의점",
                            "호텔업":"관광업","여행사업":"관광업","정기 항공 운송업":"관광업",
                           "버스 운송업":"대중교통", "비알콜 음료점업":"카페"})

In [70]:
data_123_n = data_s1[((data_s1['업종명'] != '일반 음식점업') ) | (data_s1['업종명'] != "전시 및 행사 대행업")
                  |(data_s1["업종명"] != '관광업') | (data_s1["업종명"] != "카페")| (data_s1["업종명"] != "스포츠 및 레크레이션 용품 임대업")]

In [71]:
data_123_n["연령대"] = data_123_n["연령대"].str.rstrip("s").astype("int")

In [72]:
data_123_n.head()

              년월         업종명  연령대  성별  생애주기  고객수      금액  건수
21057284  202001  건강보조식품 소매업   20   1     1    4  634400   4
21057285  202001  건강보조식품 소매업   20   2     1    7  403100   9
21057286  202001  건강보조식품 소매업   30   1     2    4  320500   4
21057287  202001  건강보조식품 소매업   30   2     2    6  263000   7
21057288  202001  건강보조식품 소매업   40   1     3    6  952000   7

In [73]:
data_123_n["Log10_금액"] = np.log10(data_123_n["금액"])

In [74]:
data_123_n

              년월            업종명  연령대  성별  생애주기  고객수       금액  건수  Log10_금액
21057284  202001     건강보조식품 소매업   20   1     1    4   634400   4  5.802363
21057285  202001     건강보조식품 소매업   20   2     1    7   403100   9  5.605413
21057286  202001     건강보조식품 소매업   30   1     2    4   320500   4  5.505828
21057287  202001     건강보조식품 소매업   30   2     2    6   263000   7  5.419956
21057288  202001     건강보조식품 소매업   40   1     3    6   952000   7  5.978637
...          ...            ...  ...  ..   ...  ...      ...  ..       ...
23899480  202003  화장품 및 방향제 소매업   70   1     5   47  2232800  49  6.348850
23899481  202003  화장품 및 방향제 소매업   70   2     5   49  3425290  54  6.534697
23899482  202003  화장품 및 방향제 소매업   20   2     1    4    43800   5  4.641474
23899483  202003  화장품 및 방향제 소매업   20   2     1    7   160280  15  5.204879
23899484  202003  화장품 및 방향제 소매업   20   2     1    3    15800   3  4.198657

[319455 rows x 9 columns]

# 대구경북의 5개 업종 / 5개 제외 업종 평균 차이

# Log10_금액 평균 차이

In [75]:
df_d_1=df_d_sub['Log10_금액']
data_123_n_1=data_123_n['Log10_금액']

df_d_1=np.array(df_d_1)
data_123_n_1=np.array(data_123_n_1)

In [76]:
np.mean(df_d_1)

5.428241890777388

In [77]:
np.mean(data_123_n_1)

5.513039078504706

In [78]:
stats.levene(df_d_1, data_123_n_1)

LeveneResult(statistic=2.190193177649351, pvalue=0.1388926520544457)

### p-value > 0.05 이므로 귀무가설 채택 => 등분산 => equal_val=True 사용

In [79]:
stats.ttest_ind(df_d_1, data_123_n_1, equal_var=True)

Ttest_indResult(statistic=-29.522834413078705, pvalue=2.315487724242672e-191)

### p-value < 0.05 이므로 귀무가설 기각 => 5개 업종 / 5개 제외 업종 간의 Log10_금액의 평균의 차이가 있다

# 연령대

In [81]:
df_d_2=df_d_sub['연령대']
data_123_n_2=data_123_n['연령대']

df_d_2=np.array(df_d_2)
data_123_n_2=np.array(data_123_n_2)

In [82]:
np.mean(df_d_2)

38.22710152725467

In [83]:
np.mean(data_123_n_2)

38.65248626567122

In [84]:
stats.levene(df_d_2, data_123_n_2)

LeveneResult(statistic=0.010011414111212072, pvalue=0.9202990780558888)

### p-value > 0.05 이므로 귀무가설 채택 => 등분산 => equal_val=True 사용

In [85]:
stats.ttest_ind(df_d_2, data_123_n_2, equal_var=True)

Ttest_indResult(statistic=-8.06071857100034, pvalue=7.60457742234716e-16)

### p-value < 0.05 이므로 귀무가설 기각 => 5개 업종 / 5개 제외 업종 간의 Log10_금액의 평균의 차이가 있다

# 건수

In [86]:
df_d_3=df_d_sub['건수']
data_123_n_3=data_123_n['건수']

df_d_3=np.array(df_d_3)
data_123_n_3=np.array(data_123_n_3)

In [87]:
np.mean(df_d_3)

97.43044575969537

In [88]:
np.mean(data_123_n_3)

150.2121644676089

In [89]:
stats.levene(df_d_3, data_123_n_3)

LeveneResult(statistic=185.8262805643507, pvalue=2.645576557551978e-42)

### p-value < 0.05 이므로 귀무가설 기각 => 등분산 아님 => equal_val=False 사용

In [90]:
stats.ttest_ind(df_d_3, data_123_n_3, equal_var=False)

Ttest_indResult(statistic=-18.471153964144566, pvalue=3.88738434569933e-76)

### p-value < 0.05 이므로 귀무가설 기각 => 5개 업종 / 5개 제외 업종 간의 Log10_금액의 평균의 차이가 있다

# 고객 수

In [91]:
df_d_4=df_d_sub['고객수']
data_123_n_4=data_123_n['고객수']

df_d_4=np.array(df_d_4)
data_123_n_4=np.array(data_123_n_4)

In [92]:
np.mean(df_d_4)

68.56135921526428

In [93]:
np.mean(data_123_n_4)

75.83036108372072

In [94]:
stats.levene(df_d_4, data_123_n_4)

LeveneResult(statistic=21.04020732602956, pvalue=4.4987638092690705e-06)

### p-value < 0.05 이므로 귀무가설 기각 => 등분산 아님 => equal_val=False 사용

In [95]:
stats.ttest_ind(df_d_3, data_123_n_3, equal_var=False)

Ttest_indResult(statistic=-18.471153964144566, pvalue=3.88738434569933e-76)

### p-value < 0.05 이므로 귀무가설 기각 => 5개 업종 / 5개 제외 업종 간의 Log10_금액의 평균의 차이가 있다

## 밑에 정규성 검정 해본건데 안맞아,,,,

In [19]:
from scipy.stats import shapiro

In [21]:
df_d_1=df_d['Log10_금액']
df_j_1=df_j['Log10_금액']

In [22]:
shapiro(df_d_1)

ShapiroResult(statistic=0.9600573778152466, pvalue=0.0)

In [23]:
shapiro(df_j_1)

ShapiroResult(statistic=0.9681758284568787, pvalue=0.0)