In [271]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt

In [272]:
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [273]:
df = pd.read_csv('1,2,3월_2.csv')

In [274]:
df['연령대'] = df['연령대'].str.rstrip('s').astype('int')

In [275]:
df['Log10_금액'] = np.log10(df['금액'])
df

        Unnamed: 0      년월      업종명  연령대  성별  생애주기  고객수       금액  건수  Log10_금액
0           598167  201901       카페   20   2     1    3    24890   3  4.396025
1           598168  201901       카페   20   2     1    3    17800   3  4.250420
2           598169  201901       카페   30   2     2    3    28500   4  4.454845
3           598170  201901       카페   20   1     1    3    27900   4  4.445604
4           598171  201901       카페   40   1     3    3    20600   3  4.313867
...            ...     ...      ...  ...  ..   ...  ...      ...  ..       ...
224535    23899428  202003  일반 음식점업   20   1     1    8   904800  16  5.956553
224536    23899429  202003  일반 음식점업   30   1     1    3   331800   4  5.520876
224537    23899430  202003  일반 음식점업   30   1     2    7  1153000  28  6.061829
224538    23899431  202003  일반 음식점업   40   1     3    3    73000   3  4.863323
224539    23899432  202003  일반 음식점업   30   1     2    4   321000   5  5.506505

[224540 rows x 10 columns]

In [276]:
df.shape

(224540, 10)

In [277]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224540 entries, 0 to 224539
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  224540 non-null  int64
 1   년월          224540 non-null  int64
 2   업종명         224540 non-null  object
 3   연령대         224540 non-null  int32
 4   성별          224540 non-null  int64
 5   생애주기        224540 non-null  int64
 6   고객수         224540 non-null  int64
 7   금액          224540 non-null  int64
 8   건수          224540 non-null  int64
 9   Log10_금액    224540 non-null  float64
dtypes: float64(1), int32(1), int64(7), object(1)
memory usage: 16.3+ MB

In [278]:
df.groupby(['업종명','년월'])['건수'].count().reset_index()

                   업종명      년월     건수
0                  관광업  201901   1215
1                  관광업  201902   1117
2                  관광업  201903   1007
3                  관광업  202001   1280
4                  관광업  202002    524
5                  관광업  202003    121
6   스포츠 및 레크레이션 용품 임대업  201901   1910
7   스포츠 및 레크레이션 용품 임대업  201902   1966
8   스포츠 및 레크레이션 용품 임대업  201903   2429
9   스포츠 및 레크레이션 용품 임대업  202001   1888
10  스포츠 및 레크레이션 용품 임대업  202002   1550
11  스포츠 및 레크레이션 용품 임대업  202003   1558
12             일반 음식점업  201901  30426
13             일반 음식점업  201902  31489
14             일반 음식점업  201903  32370
15             일반 음식점업  202001  32286
16             일반 음식점업  202002  23220
17             일반 음식점업  202003  15897
18         전시 및 행사 대행업  201901   1193
19         전시 및 행사 대행업  201902   1213
20         전시 및 행사 대행업  201903   1511
21         전시 및 행사 대행업  202001   1261
22         전시 및 행사 대행업  202002    712
23         전시 및 행사 대행업  202003    327
24                  카페  201901   6224
25                  카페  201902   6900
26                  카페  201903   6926
27                  카페  202001   7212
28                  카페  202002   4948
29                  카페  202003   3860

In [279]:
tour = df['업종명']=='관광업'
sports = df['업종명']=='스포츠 및 레크레이션 용품 임대업'
food = df['업종명']=='일반 음식점업'
cafe = df['업종명']=='카페'
dis = df['업종명']=='전시 및 행사 대행업'

df_201901 = df['년월']==201901
df_201902 = df['년월']==201902
df_201903 = df['년월']==201903
df_202001 = df['년월']==202001
df_202002 = df['년월']==202002
df_202003 = df['년월']==202003

In [280]:
# 관광업
df_tour = df[tour]
df_tour_1901 = df[tour & df_201901]
df_tour_1902 = df[tour & df_201902]
df_tour_1903 = df[tour & df_201903]
df_tour_2001 = df[tour & df_202001]
df_tour_2002 = df[tour & df_202002]
df_tour_2003 = df[tour & df_202003]

# 일반 음식점업
df_food = df[food]
df_food_1901 = df[food & df_201901]
df_food_1902 = df[food & df_201902]
df_food_1903 = df[food & df_201903]
df_food_2001 = df[food & df_202001]
df_food_2002 = df[food & df_202002]
df_food_2003 = df[food & df_202003]

# 스포츠
df_sport = df[sports]
df_sports_1901 = df[sports & df_201901]
df_sports_1902 = df[sports & df_201902]
df_sports_1903 = df[sports & df_201903]
df_sports_2001 = df[sports & df_202001]
df_sports_2002 = df[sports & df_202002]
df_sports_2003 = df[sports & df_202003]

# 전시 및 행사 대행업
df_dis = df[dis]
df_dis_1901 = df[dis & df_201901]
df_dis_1902 = df[dis & df_201902]
df_dis_1903 = df[dis & df_201903]
df_dis_2001 = df[dis & df_202001]
df_dis_2002 = df[dis & df_202002]
df_dis_2003 = df[dis & df_202003]

# 카페
df_cafe = df[cafe]
df_cafe_1901 = df[cafe & df_201901]
df_cafe_1902 = df[cafe & df_201902]
df_cafe_1903 = df[cafe & df_201903]
df_cafe_2001 = df[cafe & df_202001]
df_cafe_2002 = df[cafe & df_202002]
df_cafe_2003 = df[cafe & df_202003]

In [281]:
df_cafe_2003

        Unnamed: 0      년월 업종명  연령대  성별  생애주기  고객수      금액  건수  Log10_금액
72861     23922543  202003  카페   20   1     1    3   41060   6  4.613419
72862     23922544  202003  카페   20   2     1    3   25700   5  4.409933
72863     23922545  202003  카페   20   1     1   26  237900  32  5.376394
72864     23922546  202003  카페   20   1     2    5   43800   5  4.641474
72865     23922547  202003  카페   20   2     1   41  480170  54  5.681395
...            ...     ...  ..  ...  ..   ...  ...     ...  ..       ...
223758    23896787  202003  카페   30   1     2    3   29600   5  4.471292
223759    23896788  202003  카페   40   1     3    3   21800   7  4.338456
223760    23896789  202003  카페   20   2     1    3    7500   3  3.875061
223761    23896790  202003  카페   20   1     1    6   54900   7  4.739572
223762    23896791  202003  카페   20   2     1    3   53000   7  4.724276

[3860 rows x 10 columns]

# T - test

## Log10_금액

### 관광업 1월

In [282]:
df_t_1901_1 = np.array(df_tour_1901['Log10_금액'])
df_t_2001_1 = np.array(df_tour_2001['Log10_금액'])
print('201901 평균 : ',np.mean(df_t_1901_1))
print('202001 평균 : ',np.mean(df_t_2001_1))

201901 평균 :  5.48802603850468
202001 평균 :  5.466499763838419

In [283]:
stats.levene(df_t_1901_1, df_t_2001_1)

LeveneResult(statistic=1.5187208939545147, pvalue=0.2179293729115172)

In [284]:
stats.ttest_ind(df_t_1901_1, df_t_2001_1, equal_var=True)

Ttest_indResult(statistic=0.9986168382529358, pvalue=0.3180772560899787)

### 관광업 2월

In [285]:
df_t_1902_1 = np.array(df_tour_1902['Log10_금액'])
df_t_2002_1 = np.array(df_tour_2002['Log10_금액'])
print('201902 평균 : ',np.mean(df_t_1902_1))
print('202002 평균 : ',np.mean(df_t_2002_1))

201902 평균 :  5.4523746436501295
202002 평균 :  5.411101394543164

In [286]:
stats.levene(df_t_1902_1, df_t_2002_1)

LeveneResult(statistic=5.054134641830404, pvalue=0.024699685579550146)

In [287]:
stats.ttest_ind(df_t_1902_1, df_t_2002_1, equal_var=False)

Ttest_indResult(statistic=1.337388360739153, pvalue=0.1814228597047916)

### 관광업 3월

In [288]:
df_t_1903_1 = np.array(df_tour_1903['Log10_금액'])
df_t_2003_1 = np.array(df_tour_2003['Log10_금액'])
print('201903 평균 : ',np.mean(df_t_1903_1))
print('202003 평균 : ',np.mean(df_t_2003_1))

201903 평균 :  5.45218298487345
202003 평균 :  5.346826629218789

In [289]:
stats.levene(df_t_1903_1, df_t_2003_1)

LeveneResult(statistic=0.4480345426981178, pvalue=0.5034070190282655)

In [290]:
stats.ttest_ind(df_t_1903_1, df_t_2003_1, equal_var=True)

Ttest_indResult(statistic=2.0577184012700953, pvalue=0.039846984200052935)

### 전시회 1월

In [291]:
df_d_1901_1 = np.array(df_dis_1901['Log10_금액'])
df_d_2001_1 = np.array(df_dis_2001['Log10_금액'])
print('201901 평균 : ',np.mean(df_d_1901_1))
print('202001 평균 : ',np.mean(df_d_2001_1))

201901 평균 :  5.066695356872308
202001 평균 :  5.032321569221859

In [292]:
stats.levene(df_d_1901_1, df_d_2001_1)

LeveneResult(statistic=0.23403816623854443, pvalue=0.6285888211977807)

In [293]:
stats.ttest_ind(df_d_1901_1, df_d_2001_1, equal_var=True)

Ttest_indResult(statistic=1.988898538391989, pvalue=0.046823367886434215)

### 전시회 2월

In [294]:
df_d_1902_1 = np.array(df_dis_1902['Log10_금액'])
df_d_2002_1 = np.array(df_dis_2002['Log10_금액'])
print('201902 평균 : ',np.mean(df_d_1902_1))
print('202002 평균 : ',np.mean(df_d_2002_1))

201902 평균 :  5.0932903452332825
202002 평균 :  5.034924210126256

In [295]:
stats.levene(df_d_1902_1, df_d_2002_1)

LeveneResult(statistic=1.4372352649314006, pvalue=0.23073496907024277)

In [296]:
stats.ttest_ind(df_d_1902_1, df_d_2002_1, equal_var=True)

Ttest_indResult(statistic=2.5939454613629973, pvalue=0.009560190407854953)

### 전시회 3월

In [297]:
df_d_1903_1 = np.array(df_dis_1903['Log10_금액'])
df_d_2003_1 = np.array(df_dis_2003['Log10_금액'])
print('201903 평균 : ',np.mean(df_d_1903_1))
print('202003 평균 : ',np.mean(df_d_2003_1))

201903 평균 :  5.051340928754077
202003 평균 :  4.879898112632233

In [298]:
stats.levene(df_d_1903_1, df_d_2003_1)

LeveneResult(statistic=2.7027240709657594, pvalue=0.10034815743054702)

In [299]:
stats.ttest_ind(df_d_1903_1, df_d_2003_1, equal_var=True)

Ttest_indResult(statistic=6.029804973817057, pvalue=1.979832119530464e-09)

### 카페 1월

In [300]:
df_c_1901_1 = np.array(df_cafe_1901['Log10_금액'])
df_c_2001_1 = np.array(df_cafe_2001['Log10_금액'])
print('201901 평균 : ',np.mean(df_c_1901_1))
print('202001 평균 : ',np.mean(df_c_2001_1))

201901 평균 :  5.098097934016562
202001 평균 :  5.064275744654157

In [301]:
stats.levene(df_c_1901_1, df_c_2001_1)

LeveneResult(statistic=2.120779681949321, pvalue=0.14533592236532547)

In [302]:
stats.ttest_ind(df_c_1901_1, df_c_2001_1, equal_var=True)

Ttest_indResult(statistic=2.729191628793607, pvalue=0.0063572439586522915)

### 카페 2월

In [303]:
df_c_1902_1 = np.array(df_cafe_1902['Log10_금액'])
df_c_2002_1 = np.array(df_cafe_2002['Log10_금액'])
print('201901 평균 : ',np.mean(df_c_1902_1))
print('202002 평균 : ',np.mean(df_c_2002_1))

201901 평균 :  5.0483683414481835
202002 평균 :  5.1556312886380375

In [304]:
stats.levene(df_c_1902_1, df_c_2002_1)

LeveneResult(statistic=22.200998283809334, pvalue=2.4833890725977257e-06)

In [305]:
stats.ttest_ind(df_c_1902_1, df_c_2002_1, equal_var=False)

Ttest_indResult(statistic=-8.060985099856008, pvalue=8.397364457197866e-16)

### 카페 3월

In [306]:
df_c_1903_1 = np.array(df_cafe_1903['Log10_금액'])
df_c_2003_1 = np.array(df_cafe_2003['Log10_금액'])
print('201903 평균 : ',np.mean(df_c_1903_1))
print('202003 평균 : ',np.mean(df_c_2003_1))

201903 평균 :  5.09509369831541
202003 평균 :  5.222014859135214

In [307]:
stats.levene(df_c_1903_1, df_c_2003_1)

LeveneResult(statistic=4.116625771582053, pvalue=0.04248820956197639)

In [308]:
stats.ttest_ind(df_c_1903_1, df_c_2003_1, equal_var=False)

Ttest_indResult(statistic=-8.794643765192566, pvalue=1.7359425280512503e-18)

### 스포츠 1월

In [309]:
df_s_1901_1 = np.array(df_sports_1901['Log10_금액'])
df_s_2001_1 = np.array(df_sports_2001['Log10_금액'])
print('201901 평균 : ',np.mean(df_s_1901_1))
print('202001 평균 : ',np.mean(df_s_2001_1))

201901 평균 :  6.053863178577422
202001 평균 :  6.047532410746838

In [310]:
stats.levene(df_s_1901_1, df_s_2001_1)

LeveneResult(statistic=5.408900464709576, pvalue=0.020086756719661928)

In [311]:
stats.ttest_ind(df_s_1901_1, df_s_2001_1, equal_var=False)

Ttest_indResult(statistic=0.28051188874156546, pvalue=0.7791001206047452)

### 스포츠 2월

In [312]:
df_s_1902_1 = np.array(df_sports_1902['Log10_금액'])
df_s_2002_1 = np.array(df_sports_2002['Log10_금액'])
print('201902 평균 : ',np.mean(df_s_1902_1))
print('202002 평균 : ',np.mean(df_s_2002_1))

201902 평균 :  6.054733746626083
202002 평균 :  6.004369039082129

In [313]:
stats.levene(df_s_1902_1, df_s_2002_1)

LeveneResult(statistic=2.7921917601511312, pvalue=0.09481363438750658)

In [467]:
stats.ttest_ind(df_s_1902_1, df_s_2002_1, equal_var=True)

Ttest_indResult(statistic=2.2241643392015034, pvalue=0.02620069920670168)

### 스포츠 3월

In [315]:
df_s_1903_1 = np.array(df_sports_1903['Log10_금액'])
df_s_2003_1 = np.array(df_sports_2003['Log10_금액'])
print('201903 평균 : ',np.mean(df_s_1903_1))
print('202003 평균 : ',np.mean(df_s_2003_1))

201903 평균 :  6.012038247776921
202003 평균 :  5.949325284143789

In [316]:
stats.levene(df_s_1903_1, df_s_2003_1)

LeveneResult(statistic=1.0424134304485553, pvalue=0.30732281242708553)

In [317]:
stats.ttest_ind(df_s_1903_1, df_s_2003_1, equal_var=True)

Ttest_indResult(statistic=2.7421384733534624, pvalue=0.006131324478908421)

### 일반 음식점업 1월

In [318]:
df_f_1901_1 = np.array(df_food_1901['Log10_금액'])
df_f_2001_1 = np.array(df_food_2001['Log10_금액'])
print('201901 평균 : ',np.mean(df_f_1901_1))
print('202001 평균 : ',np.mean(df_f_2001_1))

201901 평균 :  5.486198127699646
202001 평균 :  5.4665891428578375

In [319]:
stats.levene(df_f_1901_1, df_f_2001_1)

LeveneResult(statistic=15.023572291318024, pvalue=0.00010628466248501213)

In [320]:
stats.ttest_ind(df_f_1901_1, df_f_2001_1, equal_var=False)

Ttest_indResult(statistic=3.212253894316517, pvalue=0.0013176482190835998)

### 일반 음식점업 2월

In [321]:
df_f_1902_1 = np.array(df_food_1902['Log10_금액'])
df_f_2002_1 = np.array(df_food_2002['Log10_금액'])
print('201902 평균 : ',np.mean(df_f_1902_1))
print('202002 평균 : ',np.mean(df_f_2002_1))

201902 평균 :  5.456800769682234
202002 평균 :  5.460070268880517

In [322]:
stats.levene(df_f_1902_1, df_f_2002_1)

LeveneResult(statistic=45.27087432178224, pvalue=1.7326653722351025e-11)

In [323]:
stats.ttest_ind(df_f_1902_1, df_f_2002_1, equal_var=False)

Ttest_indResult(statistic=-0.490674348999868, pvalue=0.6236589933981549)

### 일반 음식점업 3월

In [324]:
df_f_1903_1 = np.array(df_food_1903['Log10_금액'])
df_f_2003_1 = np.array(df_food_2003['Log10_금액'])
print('201903 평균 : ',np.mean(df_f_1903_1))
print('202003 평균 : ',np.mean(df_f_2003_1))

201903 평균 :  5.488599520580235
202003 평균 :  5.481529085683175

In [325]:
stats.levene(df_f_1903_1, df_f_2003_1)

LeveneResult(statistic=106.23131771826459, pvalue=6.963127672252634e-25)

In [326]:
stats.ttest_ind(df_f_1903_1, df_f_2003_1, equal_var=False)

Ttest_indResult(statistic=0.9122612909732283, pvalue=0.3616385056336595)

## 연령대

### 관광업 1월

In [327]:
df_t_1901_2 = np.array(df_tour_1901['연령대'])
df_t_2001_2 = np.array(df_tour_2001['연령대'])
print('201901 평균 : ',np.mean(df_t_1901_2))
print('202001 평균 : ',np.mean(df_t_2001_2))

201901 평균 :  45.34156378600823
202001 평균 :  44.421875

In [328]:
stats.levene(df_t_1901_2, df_t_2001_2)

LeveneResult(statistic=0.002184538007627243, pvalue=0.9627249572523904)

In [329]:
stats.ttest_ind(df_t_1901_2, df_t_2001_2, equal_var=True)

Ttest_indResult(statistic=1.848639245326813, pvalue=0.06462825842570197)

### 관광업 2월

In [330]:
df_t_1902_2 = np.array(df_tour_1902['연령대'])
df_t_2002_2 = np.array(df_tour_2002['연령대'])
print('201902 평균 : ',np.mean(df_t_1902_2))
print('202002 평균 : ',np.mean(df_t_2002_2))

201902 평균 :  45.76544315129812
202002 평균 :  45.36259541984733

In [331]:
stats.levene(df_t_1902_2, df_t_2002_2)

LeveneResult(statistic=0.7433153562757394, pvalue=0.3887270400440531)

In [332]:
stats.ttest_ind(df_t_1902_2, df_t_2002_2, equal_var=True)

Ttest_indResult(statistic=0.5904766774958107, pvalue=0.5549525223164018)

### 관광업 3월

In [333]:
df_t_1903_2 = np.array(df_tour_1903['연령대'])
df_t_2003_2 = np.array(df_tour_2003['연령대'])
print('201903 평균 : ',np.mean(df_t_1903_2))
print('202003 평균 : ',np.mean(df_t_2003_2))

201903 평균 :  45.80933465739821
202003 평균 :  48.51239669421488

In [334]:
stats.levene(df_t_1903_2, df_t_2003_2)

LeveneResult(statistic=0.8255100691204131, pvalue=0.36376848039645404)

In [335]:
stats.ttest_ind(df_t_1903_2, df_t_2003_2, equal_var=True)

Ttest_indResult(statistic=-2.1704631136910386, pvalue=0.030180232935278224)

### 전시회 1월

In [336]:
df_d_1901_2 = np.array(df_dis_1901['연령대'])
df_d_2001_2 = np.array(df_dis_2001['연령대'])
print('201901 평균 : ',np.mean(df_d_1901_2))
print('202001 평균 : ',np.mean(df_d_2001_2))

201901 평균 :  38.37384744341995
202001 평균 :  38.4853291038858

In [337]:
stats.levene(df_d_1901_2, df_d_2001_2)

LeveneResult(statistic=3.1707889731052648, pvalue=0.0750900026176484)

In [338]:
stats.ttest_ind(df_d_1901_2, df_d_2001_2, equal_var=True)

Ttest_indResult(statistic=-0.23486979546121775, pvalue=0.8143294048220734)

### 전시회 2월

In [339]:
df_d_1902_2 = np.array(df_dis_1902['연령대'])
df_d_2002_2 = np.array(df_dis_2002['연령대'])
print('201902 평균 : ',np.mean(df_d_1902_2))
print('202002 평균 : ',np.mean(df_d_2002_2))

201902 평균 :  38.57378400659522
202002 평균 :  37.12078651685393

In [340]:
stats.levene(df_d_1902_2, df_d_2002_2)

LeveneResult(statistic=9.920971800342747, pvalue=0.001659180196619012)

In [341]:
stats.ttest_ind(df_d_1902_2, df_d_2002_2, equal_var=False)

Ttest_indResult(statistic=2.405964018615298, pvalue=0.016257098759077757)

### 전시회 3월

In [342]:
df_d_1903_2 = np.array(df_dis_1903['연령대'])
df_d_2003_2 = np.array(df_dis_2003['연령대'])
print('201903 평균 : ',np.mean(df_d_1903_2))
print('202003 평균 : ',np.mean(df_d_2003_2))

201903 평균 :  38.99404367968233
202003 평균 :  37.308868501529055

In [343]:
stats.levene(df_d_1903_2, df_d_2003_2)

LeveneResult(statistic=7.293220984480971, pvalue=0.006985115890831519)

In [344]:
stats.ttest_ind(df_d_1903_2, df_d_2003_2, equal_var=False)

Ttest_indResult(statistic=2.2648147264310947, pvalue=0.023983982640539955)

### 카페 1월

In [345]:
df_c_1901_2 = np.array(df_cafe_1901['연령대'])
df_c_2001_2 = np.array(df_cafe_2001['연령대'])
print('201901 평균 : ',np.mean(df_c_1901_2))
print('202001 평균 : ',np.mean(df_c_2001_2))

201901 평균 :  35.287596401028274
202001 평균 :  34.74486966167498

In [346]:
stats.levene(df_c_1901_2, df_c_2001_2)

LeveneResult(statistic=0.9882761413157473, pvalue=0.32018197117556835)

In [348]:
stats.ttest_ind(df_c_1901_2, df_c_2001_2, equal_var=True)

Ttest_indResult(statistic=2.271231090295986, pvalue=0.02314874301754909)

### 카페 2월

In [349]:
df_c_1902_2 = np.array(df_cafe_1902['연령대'])
df_c_2002_2 = np.array(df_cafe_2002['연령대'])
print('201902 평균 : ',np.mean(df_c_1902_2))
print('202002 평균 : ',np.mean(df_c_2002_2))

201902 평균 :  34.70579710144928
202002 평균 :  34.387631366208566

In [350]:
stats.levene(df_c_1902_2, df_c_2002_2)

LeveneResult(statistic=22.91394639806433, pvalue=1.7146637160056196e-06)

In [351]:
stats.ttest_ind(df_c_1902_2, df_c_2002_2, equal_var=False)

Ttest_indResult(statistic=1.2296468591116396, pvalue=0.2188574982750557)

### 카페 3월

In [352]:
df_c_1903_2 = np.array(df_cafe_1903['연령대'])
df_c_2003_2 = np.array(df_cafe_2003['연령대'])
print('201903 평균 : ',np.mean(df_c_1903_2))
print('202003 평균 : ',np.mean(df_c_2003_2))

201903 평균 :  34.30984695350852
202003 평균 :  34.961139896373055

In [353]:
stats.levene(df_c_1903_2, df_c_2003_2)

LeveneResult(statistic=3.0670919002725747, pvalue=0.07992069877072126)

In [354]:
stats.ttest_ind(df_c_1903_2, df_c_2003_2, equal_var=True)

Ttest_indResult(statistic=-2.3213100037040966, pvalue=0.020288662540453556)

### 스포츠 1월

In [355]:
df_s_1901_2 = np.array(df_sports_1901['연령대'])
df_s_2001_2 = np.array(df_sports_2001['연령대'])
print('201901 평균 : ',np.mean(df_s_1901_2))
print('202001 평균 : ',np.mean(df_s_2001_2))

201901 평균 :  41.41361256544503
202001 평균 :  39.894067796610166

In [356]:
stats.levene(df_s_1901_2, df_s_2001_2)

LeveneResult(statistic=0.03875638545351423, pvalue=0.8439426152964272)

In [357]:
stats.ttest_ind(df_s_1901_2, df_s_2001_2, equal_var=True)

Ttest_indResult(statistic=3.096110119579264, pvalue=0.001975078156866936)

### 스포츠 2월

In [358]:
df_s_1902_2 = np.array(df_sports_1902['연령대'])
df_s_2002_2 = np.array(df_sports_2002['연령대'])
print('201902 평균 : ',np.mean(df_s_1902_2))
print('202002 평균 : ',np.mean(df_s_2002_2))

201902 평균 :  40.03051881993896
202002 평균 :  40.225806451612904

In [359]:
stats.levene(df_s_1902_2, df_s_2002_2)

LeveneResult(statistic=1.1495108819371473, pvalue=0.2837251882119187)

In [360]:
stats.ttest_ind(df_s_1902_2, df_s_2002_2, equal_var=True)

Ttest_indResult(statistic=-0.3747127782898768, pvalue=0.7078966994434119)

### 스포츠 3월

In [361]:
df_s_1903_2 = np.array(df_sports_1903['연령대'])
df_s_2003_2 = np.array(df_sports_2003['연령대'])
print('201903 평균 : ',np.mean(df_s_1903_2))
print('202003 평균 : ',np.mean(df_s_2003_2))

201903 평균 :  40.85631947303417
202003 평균 :  40.51347881899871

In [362]:
stats.levene(df_s_1903_2, df_s_2003_2)

LeveneResult(statistic=1.623268363590878, pvalue=0.20271095970137218)

In [363]:
stats.ttest_ind(df_s_1903_2, df_s_2003_2, equal_var=True)

Ttest_indResult(statistic=0.6993538564318972, pvalue=0.4843717347895069)

### 일반 음식점 1월

In [364]:
df_f_1901_2 = np.array(df_food_1901['연령대'])
df_f_2001_2 = np.array(df_food_2001['연령대'])
print('201901 평균 : ',np.mean(df_f_1901_2))
print('202001 평균 : ',np.mean(df_f_2001_2))

201901 평균 :  39.071517780845326
202001 평균 :  38.545499597348694

In [365]:
stats.levene(df_f_1901_2, df_f_2001_2)

LeveneResult(statistic=0.3112480244081133, pvalue=0.5769173471937035)

In [366]:
stats.ttest_ind(df_f_1901_2, df_f_2001_2, equal_var=True)

Ttest_indResult(statistic=4.653702650195855, pvalue=3.2669235947768307e-06)

### 일반 음식점 2월

In [367]:
df_f_1902_2 = np.array(df_food_1902['연령대'])
df_f_2002_2 = np.array(df_food_2002['연령대'])
print('201902 평균 : ',np.mean(df_f_1902_2))
print('202002 평균 : ',np.mean(df_f_2002_2))

201902 평균 :  38.48709073009623
202002 평균 :  38.48449612403101

In [368]:
stats.levene(df_f_1902_2, df_f_2002_2)

LeveneResult(statistic=44.09134133896229, pvalue=3.163255424758987e-11)

In [369]:
stats.ttest_ind(df_f_1902_2, df_f_2002_2, equal_var=False)

Ttest_indResult(statistic=0.021139208111999905, pvalue=0.9831346942529982)

### 일반 음식점 3월

In [370]:
df_f_1903_2 = np.array(df_food_1903['연령대'])
df_f_2003_2 = np.array(df_food_2003['연령대'])
print('201903 평균 : ',np.mean(df_f_1903_2))
print('202003 평균 : ',np.mean(df_f_2003_2))

201903 평균 :  38.66697559468644
202003 평균 :  39.39108007800214

In [371]:
stats.levene(df_f_1903_2, df_f_2003_2)

LeveneResult(statistic=11.021014715581872, pvalue=0.0009015145791622503)

In [372]:
stats.ttest_ind(df_f_1903_2, df_f_2003_2, equal_var=False)

Ttest_indResult(statistic=-5.228332679187183, pvalue=1.7212485738757925e-07)

## 건수

### 광관업 1월

In [373]:
df_t_1901_3 = np.array(df_tour_1901['건수'])
df_t_2001_3 = np.array(df_tour_2001['건수'])
print('201901 평균 : ',np.mean(df_t_1901_3))
print('202001 평균 : ',np.mean(df_t_2001_3))

201901 평균 :  12.881481481481481
202001 평균 :  12.99609375

In [374]:
stats.levene(df_t_1901_3, df_t_2001_3)

LeveneResult(statistic=0.0032806114904175283, pvalue=0.954329432392089)

In [375]:
stats.ttest_ind(df_t_1901_3, df_t_2001_3, equal_var=True)

Ttest_indResult(statistic=-0.14863985844140504, pvalue=0.8818498415176155)

### 광관업 2월

In [376]:
df_t_1902_3 = np.array(df_tour_1902['건수'])
df_t_2002_3 = np.array(df_tour_2002['건수'])
print('201902 평균 : ',np.mean(df_t_1902_3))
print('202002 평균 : ',np.mean(df_t_2002_3))

201902 평균 :  12.498657117278425
202002 평균 :  12.307251908396946

In [377]:
stats.levene(df_t_1902_3, df_t_2002_3)

LeveneResult(statistic=0.015389753198461321, pvalue=0.9012865876422111)

In [378]:
stats.ttest_ind(df_t_1902_3, df_t_2002_3, equal_var=True)

Ttest_indResult(statistic=0.1983408757312188, pvalue=0.8428029703610312)

### 광관업 3월

In [379]:
df_t_1903_3 = np.array(df_tour_1903['건수'])
df_t_2003_3 = np.array(df_tour_2003['건수'])
print('201903 평균 : ',np.mean(df_t_1903_3))
print('202003 평균 : ',np.mean(df_t_2003_3))

201903 평균 :  12.528301886792454
202003 평균 :  12.28099173553719

In [380]:
stats.levene(df_t_1903_3, df_t_2003_3)

LeveneResult(statistic=0.14406299868464495, pvalue=0.7043463613037129)

In [381]:
stats.ttest_ind(df_t_1903_3, df_t_2003_3, equal_var=True)

Ttest_indResult(statistic=0.13871747665845635, pvalue=0.8896982113204694)

### 전시회 1월

In [382]:
df_d_1901_3 = np.array(df_dis_1901['건수'])
df_d_2001_3 = np.array(df_dis_2001['건수'])
print('201901 평균 : ',np.mean(df_d_1901_3))
print('202001 평균 : ',np.mean(df_d_2001_3))

201901 평균 :  9.436714165968148
202001 평균 :  9.74306106264869

In [383]:
stats.levene(df_d_1901_3, df_d_2001_3)

LeveneResult(statistic=0.24065868231836193, pvalue=0.6237746802060193)

In [384]:
stats.ttest_ind(df_d_1901_3, df_d_2001_3, equal_var=True)

Ttest_indResult(statistic=-0.6263854625696607, pvalue=0.5311204496294204)

### 전시회 2월

In [385]:
df_d_1902_3 = np.array(df_dis_1902['건수'])
df_d_2002_3 = np.array(df_dis_2002['건수'])
print('201902 평균 : ',np.mean(df_d_1902_3))
print('202002 평균 : ',np.mean(df_d_2002_3))

201902 평균 :  10.934047815333884
202002 평균 :  9.457865168539326

In [386]:
stats.levene(df_d_1902_3, df_d_2002_3)

LeveneResult(statistic=2.430052107123413, pvalue=0.11919349006039137)

In [387]:
stats.ttest_ind(df_d_1902_3, df_d_2002_3, equal_var=True)

Ttest_indResult(statistic=1.8382471756602325, pvalue=0.06618014525962539)

### 전시회 3월

In [388]:
df_d_1903_3 = np.array(df_dis_1903['건수'])
df_d_2003_3 = np.array(df_dis_2003['건수'])
print('201903 평균 : ',np.mean(df_d_1903_3))
print('202003 평균 : ',np.mean(df_d_2003_3))

201903 평균 :  10.939113170086035
202003 평균 :  9.755351681957187

In [389]:
stats.levene(df_d_1903_3, df_d_2003_3)

LeveneResult(statistic=0.6766624209856508, pvalue=0.4108452020874378)

In [390]:
stats.ttest_ind(df_d_1903_3, df_d_2003_3, equal_var=True)

Ttest_indResult(statistic=1.0565886589395264, pvalue=0.29083836253857026)

### 카페 1월

In [391]:
df_c_1901_3 = np.array(df_cafe_1901['건수'])
df_c_2001_3 = np.array(df_cafe_2001['건수'])
print('201901 평균 : ',np.mean(df_c_1901_3))
print('202001 평균 : ',np.mean(df_c_2001_3))

201901 평균 :  103.12596401028277
202001 평균 :  101.54783693843594

In [392]:
stats.levene(df_c_1901_3, df_c_2001_3)

LeveneResult(statistic=0.026081736671766127, pvalue=0.871703291578059)

In [393]:
stats.ttest_ind(df_c_1901_3, df_c_2001_3, equal_var=True)

Ttest_indResult(statistic=0.19594608538776967, pvalue=0.8446553291458273)

### 카페 2월

In [394]:
df_c_1902_3 = np.array(df_cafe_1902['건수'])
df_c_2002_3 = np.array(df_cafe_2002['건수'])
print('201902 평균 : ',np.mean(df_c_1902_3))
print('202002 평균 : ',np.mean(df_c_2002_3))

201902 평균 :  89.54579710144928
202002 평균 :  114.53556992724333

In [395]:
stats.levene(df_c_1902_3, df_c_2002_3)

LeveneResult(statistic=8.888774945397536, pvalue=0.0028751253797117504)

In [397]:
stats.ttest_ind(df_c_1902_3, df_c_2002_3, equal_var=False)

Ttest_indResult(statistic=-3.0400063314624046, pvalue=0.0023718543495278304)

### 카페 3월

In [398]:
df_c_1903_3 = np.array(df_cafe_1903['건수'])
df_c_2003_3 = np.array(df_cafe_2003['건수'])
print('201903 평균 : ',np.mean(df_c_1903_3))
print('202003 평균 : ',np.mean(df_c_2003_3))

201903 평균 :  110.11651747040139
202003 평균 :  124.42487046632124

In [399]:
stats.levene(df_c_1903_3, df_c_2003_3)

LeveneResult(statistic=1.782265711072532, pvalue=0.18189953739148224)

In [400]:
stats.ttest_ind(df_c_1903_3, df_c_2003_3, equal_var=True)

Ttest_indResult(statistic=-1.4592114129431242, pvalue=0.14453605483195406)

### 스포츠 1월

In [401]:
df_s_1901_3 = np.array(df_sports_1901['건수'])
df_s_2001_3 = np.array(df_sports_2001['건수'])
print('201901 평균 : ',np.mean(df_s_1901_3))
print('202001 평균 : ',np.mean(df_s_2001_3))

201901 평균 :  40.31204188481676
202001 평균 :  39.01059322033898

In [402]:
stats.levene(df_s_1901_3, df_s_2001_3)

LeveneResult(statistic=0.24342544679380204, pvalue=0.6217714914766876)

In [403]:
stats.ttest_ind(df_s_1901_3, df_s_2001_3, equal_var=True)

Ttest_indResult(statistic=0.4581721397185009, pvalue=0.6468550005261501)

### 스포츠 2월

In [404]:
df_s_1902_3 = np.array(df_sports_1902['건수'])
df_s_2002_3 = np.array(df_sports_2002['건수'])
print('201902 평균 : ',np.mean(df_s_1902_3))
print('202002 평균 : ',np.mean(df_s_2002_3))

201902 평균 :  40.13428280773143
202002 평균 :  33.34322580645161

In [405]:
stats.levene(df_s_1902_3, df_s_2002_3)

LeveneResult(statistic=6.586610739745865, pvalue=0.010315932159139472)

In [406]:
stats.ttest_ind(df_s_1902_3, df_s_2002_3, equal_var=False)

Ttest_indResult(statistic=2.529073489580431, pvalue=0.011479991751305929)

### 스포츠 3월

In [407]:
df_s_1903_3 = np.array(df_sports_1903['건수'])
df_s_2003_3 = np.array(df_sports_2003['건수'])
print('201903 평균 : ',np.mean(df_s_1903_3))
print('202003 평균 : ',np.mean(df_s_2003_3))

201903 평균 :  45.08316179497736
202003 평균 :  34.898587933247754

In [408]:
stats.levene(df_s_1903_3, df_s_2003_3)

LeveneResult(statistic=10.551250910721183, pvalue=0.0011707245319847704)

In [409]:
stats.ttest_ind(df_s_1903_3, df_s_2003_3, equal_var=False)

Ttest_indResult(statistic=3.480258434959996, pvalue=0.0005063025247024074)

### 일반 음식점업 1월

In [410]:
df_f_1901_3 = np.array(df_food_1901['건수'])
df_f_2001_3 = np.array(df_food_2001['건수'])
print('201901 평균 : ',np.mean(df_f_1901_3))
print('202001 평균 : ',np.mean(df_f_2001_3))

201901 평균 :  109.7400249786367
202001 평균 :  101.27169671064858

In [411]:
stats.levene(df_f_1901_3, df_f_2001_3)

LeveneResult(statistic=1.9434604692049238, pvalue=0.1632982332220819)

In [412]:
stats.ttest_ind(df_f_1901_3, df_f_2001_3, equal_var=True)

Ttest_indResult(statistic=1.3873358099262405, pvalue=0.16534431860772048)

### 일반 음식점업 2월

In [413]:
df_f_1902_3 = np.array(df_food_1902['건수'])
df_f_2002_3 = np.array(df_food_2002['건수'])
print('201902 평균 : ',np.mean(df_f_1902_3))
print('202002 평균 : ',np.mean(df_f_2002_3))

201902 평균 :  96.04198291466861
202002 평균 :  103.58673557278209

In [414]:
stats.levene(df_f_1902_3, df_f_2002_3)

LeveneResult(statistic=1.7258280559421535, pvalue=0.1889500804626676)

In [415]:
stats.ttest_ind(df_f_1902_3, df_f_2002_3, equal_var=True)

Ttest_indResult(statistic=-1.2770194889478632, pvalue=0.20160078682606436)

### 일반 음식점업 3월

In [416]:
df_f_1903_3 = np.array(df_food_1903['건수'])
df_f_2003_3 = np.array(df_food_2003['건수'])
print('201903 평균 : ',np.mean(df_f_1903_3))
print('202003 평균 : ',np.mean(df_f_2003_3))

201903 평균 :  111.51794871794871
202003 평균 :  109.15738818645028

In [417]:
stats.levene(df_f_1903_3, df_f_2003_3)

LeveneResult(statistic=0.09802199614364379, pvalue=0.7542177059465616)

In [418]:
stats.ttest_ind(df_f_1903_3, df_f_2003_3, equal_var=True)

Ttest_indResult(statistic=0.32563183123099637, pvalue=0.74470433750108)

## 고객수

### 관광업 1월

In [419]:
df_t_1901_4 = np.array(df_tour_1901['고객수'])
df_t_2001_4 = np.array(df_tour_2001['고객수'])
print('201901 평균 : ',np.mean(df_t_1901_4))
print('202001 평균 : ',np.mean(df_t_2001_4))

201901 평균 :  8.956378600823045
202001 평균 :  8.9265625

In [420]:
stats.levene(df_t_1901_4, df_t_2001_4)

LeveneResult(statistic=0.00985184479897685, pvalue=0.920942627928422)

In [421]:
stats.ttest_ind(df_t_1901_4, df_t_2001_4, equal_var=True)

Ttest_indResult(statistic=0.06103698490573511, pvalue=0.9513346468037716)

### 관광업 2월

In [422]:
df_t_1902_4 = np.array(df_tour_1902['고객수'])
df_t_2002_4 = np.array(df_tour_2002['고객수'])
print('201902 평균 : ',np.mean(df_t_1902_4))
print('202002 평균 : ',np.mean(df_t_2002_4))

201902 평균 :  8.877350044762757
202002 평균 :  8.854961832061068

In [423]:
stats.levene(df_t_1902_4, df_t_2002_4)

LeveneResult(statistic=0.014777064461251774, pvalue=0.9032616430667012)

In [424]:
stats.ttest_ind(df_t_1902_4, df_t_2002_4, equal_var=True)

Ttest_indResult(statistic=0.03512643503803348, pvalue=0.9719831996025264)

### 관광업 3월

In [425]:
df_t_1903_4 = np.array(df_tour_1903['고객수'])
df_t_2003_4 = np.array(df_tour_2003['고객수'])
print('201903 평균 : ',np.mean(df_t_1903_4))
print('202003 평균 : ',np.mean(df_t_2003_4))

201903 평균 :  8.687189672293943
202003 평균 :  6.9421487603305785

In [426]:
stats.levene(df_t_1903_4, df_t_2003_4)

LeveneResult(statistic=2.5927966416777486, pvalue=0.10763091657813437)

In [428]:
stats.ttest_ind(df_t_1903_4, df_t_2003_4, equal_var=True)

Ttest_indResult(statistic=1.559252116206118, pvalue=0.11921772038053915)

### 전시회 1월

In [429]:
df_d_1901_4 = np.array(df_dis_1901['고객수'])
df_d_2001_4 = np.array(df_dis_2001['고객수'])
print('201901 평균 : ',np.mean(df_d_1901_4))
print('202001 평균 : ',np.mean(df_d_2001_4))

201901 평균 :  7.86756077116513
202001 평균 :  7.846946867565424

In [430]:
stats.levene(df_d_1901_4, df_d_2001_4)

LeveneResult(statistic=0.009546625244133756, pvalue=0.9221730752024395)

In [431]:
stats.ttest_ind(df_d_1901_4, df_d_2001_4, equal_var=True)

Ttest_indResult(statistic=0.05417974634313967, pvalue=0.956796370828708)

### 전시회 2월

In [432]:
df_d_1902_4 = np.array(df_dis_1902['고객수'])
df_d_2002_4 = np.array(df_dis_2002['고객수'])
print('201902 평균 : ',np.mean(df_d_1902_4))
print('202002 평균 : ',np.mean(df_d_2002_4))

201902 평균 :  9.088211046990931
202002 평균 :  8.143258426966293

In [433]:
stats.levene(df_d_1902_4, df_d_2002_4)

LeveneResult(statistic=1.1159916483363255, pvalue=0.29091589007021373)

In [434]:
stats.ttest_ind(df_d_1902_4, df_d_2002_4, equal_var=True)

Ttest_indResult(statistic=1.329260172552412, pvalue=0.1839198255049254)

### 전시회 3월

In [435]:
df_d_1903_4 = np.array(df_dis_1903['고객수'])
df_d_2003_4 = np.array(df_dis_2003['고객수'])
print('201903 평균 : ',np.mean(df_d_1903_4))
print('202003 평균 : ',np.mean(df_d_2003_4))

201903 평균 :  9.162806088682991
202003 평균 :  8.19571865443425

In [436]:
stats.levene(df_d_1903_4, df_d_2003_4)

LeveneResult(statistic=1.0154650894341612, pvalue=0.31372990855129523)

In [437]:
stats.ttest_ind(df_d_1903_4, df_d_2003_4, equal_var=True)

Ttest_indResult(statistic=0.9682828620120499, pvalue=0.3330306532541176)

### 카페 1월

In [438]:
df_c_1901_4 = np.array(df_cafe_1901['고객수'])
df_c_2001_4 = np.array(df_cafe_2001['고객수'])
print('201901 평균 : ',np.mean(df_c_1901_4))
print('202001 평균 : ',np.mean(df_c_2001_4))

201901 평균 :  69.83901028277634
202001 평균 :  66.87160288408208

In [439]:
stats.levene(df_c_1901_4, df_c_2001_4)

LeveneResult(statistic=0.3141975524192457, pvalue=0.5751250973064959)

In [440]:
stats.ttest_ind(df_c_1901_4, df_c_2001_4, equal_var=True)

Ttest_indResult(statistic=0.5868618280924206, pvalue=0.5573063698967304)

### 카페 2월

In [441]:
df_c_1902_4 = np.array(df_cafe_1902['고객수'])
df_c_2002_4 = np.array(df_cafe_2002['고객수'])
print('201902 평균 : ',np.mean(df_c_1902_4))
print('202002 평균 : ',np.mean(df_c_2002_4))

201902 평균 :  62.65449275362319
202002 평균 :  74.37247372675829

In [442]:
stats.levene(df_c_1902_4, df_c_2002_4)

LeveneResult(statistic=4.772703825778774, pvalue=0.028933912233557447)

In [443]:
stats.ttest_ind(df_c_1902_4, df_c_2002_4, equal_var=False)

Ttest_indResult(statistic=-2.2542973260419483, pvalue=0.024198082303582467)

### 카페 3월

In [445]:
df_c_1903_4 = np.array(df_cafe_1903['고객수'])
df_c_2003_4 = np.array(df_cafe_2003['고객수'])
print('201903 평균 : ',np.mean(df_c_1903_4))
print('202003 평균 : ',np.mean(df_c_2003_4))

201903 평균 :  71.7014149581288
202003 평균 :  75.66943005181348

In [446]:
stats.levene(df_c_1903_4, df_c_2003_4)

LeveneResult(statistic=0.31466232406303324, pvalue=0.5748448446675191)

In [447]:
stats.ttest_ind(df_c_1903_4, df_c_2003_4, equal_var=True)

Ttest_indResult(statistic=-0.6761165988785088, pvalue=0.49898111806974776)

### 스포츠 1월

In [448]:
df_s_1901_4 = np.array(df_sports_1901['고객수'])
df_s_2001_4 = np.array(df_sports_2001['고객수'])
print('201901 평균 : ',np.mean(df_s_1901_4))
print('202001 평균 : ',np.mean(df_s_2001_4))

201901 평균 :  33.30052356020943
202001 평균 :  31.709216101694917

In [449]:
stats.levene(df_s_1901_4, df_s_2001_4)

LeveneResult(statistic=0.49856530216476774, pvalue=0.4801745269505939)

In [450]:
stats.ttest_ind(df_s_1901_4, df_s_2001_4, equal_var=True)

Ttest_indResult(statistic=0.6920474373695358, pvalue=0.48894986605701396)

### 스포츠 2월

In [451]:
df_s_1902_4 = np.array(df_sports_1902['고객수'])
df_s_2002_4 = np.array(df_sports_2002['고객수'])
print('201902 평균 : ',np.mean(df_s_1902_4))
print('202002 평균 : ',np.mean(df_s_2002_4))

201902 평균 :  32.99033570701933
202002 평균 :  27.115483870967743

In [452]:
stats.levene(df_s_1902_4, df_s_2002_4)

LeveneResult(statistic=7.129749969043051, pvalue=0.007616437932025584)

In [453]:
stats.ttest_ind(df_s_1902_4, df_s_2002_4, equal_var=False)

Ttest_indResult(statistic=2.7055871664190163, pvalue=0.006851510480193474)

### 스포츠 3월

In [454]:
df_s_1903_4 = np.array(df_sports_1903['고객수'])
df_s_2003_4 = np.array(df_sports_2003['고객수'])
print('201903 평균 : ',np.mean(df_s_1903_4))
print('202003 평균 : ',np.mean(df_s_2003_4))

201903 평균 :  36.25030876904076
202003 평균 :  27.104621309370987

In [455]:
stats.levene(df_s_1903_4, df_s_2003_4)

LeveneResult(statistic=13.613375451470883, pvalue=0.0002275789207924369)

In [456]:
stats.ttest_ind(df_s_1903_4, df_s_2003_4, equal_var=False)

Ttest_indResult(statistic=4.001308556481587, pvalue=6.413847217683678e-05)

### 일반 음식점 1월

In [457]:
df_f_1901_4 = np.array(df_food_1901['고객수'])
df_f_2001_4 = np.array(df_food_2001['고객수'])
print('201901 평균 : ',np.mean(df_f_1901_4))
print('202001 평균 : ',np.mean(df_f_2001_4))

201901 평균 :  77.65996187471242
202001 평균 :  72.12925106857462

In [458]:
stats.levene(df_f_1901_4, df_f_2001_4)

LeveneResult(statistic=1.9317424124474567, pvalue=0.16457287588461156)

In [459]:
stats.ttest_ind(df_f_1901_4, df_f_2001_4, equal_var=True)

Ttest_indResult(statistic=1.3786772989831644, pvalue=0.16799918954573798)

### 일반 음식점 2월

In [460]:
df_f_1902_4 = np.array(df_food_1902['고객수'])
df_f_2002_4 = np.array(df_food_2002['고객수'])
print('201902 평균 : ',np.mean(df_f_1902_4))
print('202002 평균 : ',np.mean(df_f_2002_4))

201902 평균 :  70.2422433230652
202002 평균 :  74.92859603789836

In [461]:
stats.levene(df_f_1902_4, df_f_2002_4)

LeveneResult(statistic=1.4928003625107127, pvalue=0.22178774024863782)

In [462]:
stats.ttest_ind(df_f_1902_4, df_f_2002_4, equal_var=True)

Ttest_indResult(statistic=-1.1666199717745445, pvalue=0.24336895965108088)

### 일반 음식점 3월

In [463]:
df_f_1903_4 = np.array(df_food_1903['고객수'])
df_f_2003_4 = np.array(df_food_2003['고객수'])
print('201903 평균 : ',np.mean(df_f_1903_4))
print('202003 평균 : ',np.mean(df_f_2003_4))

201903 평균 :  77.49885696632684
202003 평균 :  77.73013776184186

In [464]:
stats.levene(df_f_1903_4, df_f_2003_4)

LeveneResult(statistic=0.0036014942661344355, pvalue=0.9521459666306815)

In [466]:
stats.ttest_ind(df_f_1903_4, df_f_2003_4, equal_var=True)

Ttest_indResult(statistic=-0.04906353280905306, pvalue=0.9608688680060316)

# 결과 해석


# Log10_금액
## (관광업)
- 1월 : 차이가 없다
- 2월 : 차이가 없다
- 3월 : 차이가 있다 ( 2020년 3월의 매출액이 더 적다)
## (전시)
- 1월 : 차이가 있다 ( 2020년 1월의 매출액이 더 적다)
- 2월 : 차이가 있다 ( 2020년 2월의 매출액이 더 적다)
- 3월 : 차이가 있다 ( 2020년 3월의 매출액이 더 적다)
## (카페)
- 1월 : 차이가 있다 ( 2020년 1월의 매출액이 더 적다)
- 2월 : 차이가 있다 ( 2020년 2월의 매출액이 더 적다)
- 3월 : 차이가 있다 ( 2020년 3월의 매출액이 더 적다)
## (스포츠)
- 1월 : 차이가 없다
- 2월 : 차이가 있다 ( 2020년 2월의 매출액이 더 적다)
- 3월 : 차이가 있다 ( 2020년 3월의 매출액이 더 적다)
## (일반 음식점업)
- 1월 : 차이가 있다 ( 2020년 3월의 매출액이 더 적다)
- 2월 : 차이가 없다
- 3월 : 차이가 없다

# 연령대
## (관광업)
- 1월 : 차이가 없다
- 2월 : 차이가 없다
- 3월 : 차이가 있다 ( 2020년 3월의 연령대가 더 높다)
## (전시)
- 1월 : 차이가 없다.
- 2월 : 차이가 있다 ( 2020년 2월의 연령대가 더 낮다)
- 3월 : 차이가 있다 ( 2020년 3월의 연령대가 더 낮다)
## (카페)
- 1월 : 차이가 있다 ( 2020년 1월의 연령대가 더 낮다)
- 2월 : 차이가 없다
- 3월 : 차이가 있다 ( 2020년 3월의 연령대가 더 높다)
## (스포츠)
- 1월 : 차이가 있다 ( 2020년 1월의 연령대가 더 낮다)
- 2월 : 차이가 없다
- 3월 : 차이가 없다
## (일반 음식점업)
- 1월 : 차이가 있다 ( 2020년 1월의 연령대가 더 낮다)
- 2월 : 차이가 없다
- 3월 : 차이가 있다 ( 2020년 3월의 연령대가 더 높다)


# 건수
## (관광업)
- 1월 : 차이가 없다
- 2월 : 차이가 없다
- 3월 : 차이가 없다
## (전시)
- 1월 : 차이가 없다
- 2월 : 차이가 없다
- 3월 : 차이가 없다
## (카페)
- 1월 : 차이가 없다
- 2월 : 차이가 있다 ( 2020년 2월의 사용 건수가 더 많다)
- 3월 : 차이가 없다
## (스포츠)
- 1월 : 차이가 없다
- 2월 : 차이가 있다 ( 2020년 2월의 사용 건수가 더 적다)
- 3월 : 차이가 있다 ( 2020년 3월의 사용 건수가 더 적다)
## (일반 음식점업)
- 1월 : 차이가 없다
- 2월 : 차이가 없다
- 3월 : 차이가 없다

# 고객수
## (관광업)
- 1월 : 차이가 없다
- 2월 : 차이가 없다
- 3월 : 차이가 없다
## (전시)
- 1월 : 차이가 없다
- 2월 : 차이가 없다
- 3월 : 차이가 없다
## (카페)
- 1월 : 차이가 없다
- 2월 : 차이가 있다 ( 2020년 2월의 고객수가 더 많다)
- 3월 : 차이가 없다
## (스포츠)
- 1월 : 차이가 없다
- 2월 : 차이가 있다 ( 2020년 2월의 고객수가 더 적다)
- 3월 : 차이가 있다 ( 2020년 3월의 고객수가 더 적다)
## (일반 음식점업)
- 1월 : 차이가 없다
- 2월 : 차이가 없다
- 3월 : 차이가 없다